@import "./abstracts/variables.css";

@import "./base/reset.css";
@import "./base/topography.css";

@import "./components/footer.css";
@import "./components/navbar.css";

@import "./pages/cardapio.css";
@import "./pages/principal.css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--whitish-yellow);
  color: var(--black);
}
