#menu-main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: calc(100vh - 11rem);
  font-size: 1.5rem;
  box-sizing: border-box;
}

#products-select {
  font-size: 1.5rem;
}

#products-select:focus {
  outline: none;
}

.product-category {
  margin: 1rem 0;
}

.product-category-title {
  font-weight: bold;
  display: flex;
}

.product-category-title img {
  height: 2rem;
  margin-right: 1rem;
}

.products-container {
  display: flex;
  flex-flow: row wrap;
}

.product {
  background-color: white;
  border-radius: 0.5rem;
}
