html,
body {
  height: 100%;
}

body {
  background-color: var(--whitish-yellow);
  color: var(--black);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner {
  background-image: linear-gradient(
      rgba(255, 196, 0, 0.5),
      rgba(255, 196, 0, 0.5)
    ),
    url("/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner img {
  height: 50%;
}

.card {
  width: 50%;
  max-width: 50rem;
  margin: 1rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

#where-order {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

#where-order img {
  height: 3rem;
}

.external-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  font-size: 100%;
  font-size: 1.5rem;
}

#link-ifood {
  background-color: #ea1d2c;
}

#link-querodelivery {
  background-color: #9b4dee;
}

#horaries p,
#localization {
  font-size: 2rem;
  margin: 1rem 0;
}

#contact {
  display: flex;
  flex-direction: column;
}

#link-whatsapp img,
#link-instagram img,
#link-facebook img,
#link-maps img {
  margin-right: 1rem;
  height: 2rem;
}

#link-whatsapp {
  background-color: #128c7e;
}

#link-instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
}

#link-facebook {
  background-color: #3982e4;
}

#link-maps {
  background-color: #1a73e8;
  margin-top: 2rem;
}
