:root {
  --light-red: #dd1a28;
  --red: #af131e;
  --dark-red: #93131c;

  --whitish-yellow: #ffefbb;
  --light-yellow: #ffd43c;
  --yellow: #f3b101;
  --dark-yellow: #e39600;

  --black: #282828;

  --white: #f3f3f3;
}
